body {
    background-color: aqua;
}
header {
    width: 100%;
    height: auto;
    background-color: #fff;
}
a {
    text-decoration: none;
}
nav {
    height: 75px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul > li {
    list-style: none;
}
nav > ul > li > a {
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 75px;
    padding: 10px;
}
nav > ul > li > a:hover {
    color: #fff;
    background-color: #000;
}
