html {
	font-size: 62.5%;
	background: #000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding: 10px;
	width: 390px;
	height: 720px;
	font-size: 1.6rem;
	background: #00154d;
	position: relative;
	color: #fff;
	font-family: "Noto Sans JP", "sans-serif;";
}
.start-btn {
	width: 150px;
	height: 50px;
	border: #000 solid 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* test */
	display: none;
}
.countdown-time {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.countdown-time > .timer {
	font-size: 10rem;
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	border-radius: 50%;
	border: #000 solid 1px;
}
.quiz-container {
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.quiz-header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 27px;
}
.quiz-header > .timer {
	width: 80px;
	height: 40px;
	border: #000 solid 1px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 3px;
}
.quiz-content {
	transition: opacity 0.15s ease-in-out;
}
.question-box {
	width: 35.8rem;
	height: 23.6rem;
	display: block;
	border-radius: 2.9rem;
	background: #d9d9d9;
	padding: 0 20px 20px 20px;
	position: relative;
	overflow: auto;
}
.question-box::-webkit-scrollbar {
	display: none;
}
.answer-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 48px;
}
.answer {
	width: 35.8rem;
	height: 5.4rem;
	padding: 2px 6px 2px 6px;
	margin-bottom: 18px;
	border-radius: 1.5rem;
	background: #d9d9d9;
	font-size: 13px;
}
.clear-noti-box {
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	/* test */
	opacity: 1;
	display: block;
}
.clear-noti-box > .clear-noti {
	font-size: 2rem;
	font-weight: 500;
}
.clear-noti-box p:nth-child(2) {
	font-size: 3rem;
	line-height: 40px;
}
.clear-noti-box p:nth-child(2) span {
	color: #ff862f;
	font-size: 6rem;
	font-weight: 700;
}
.clear-noti-box p:nth-child(3) {
	font-size: 1.4rem;
}
.favor-button {
	width: 100%;
	height: 80px;
	border-radius: 1.5rem;
	border: 2px solid #4b73a3;
	background: #fff;
	margin-top: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.favor-button > p {
	color: #4b73a3;
	font-size: 1.7rem;
}
.favor-button::after {
	content: "";
	width: 24px;
	height: 24px;
	background-image: url("/images/heart.svg");
	background-size: cover;
	background-position: center;
	margin-left: 0.8rem;
}
.answer-check-box {
	width: 100%;
	height: 34rem;
	background-color: #253f72;
	border: 1.5px solid #fff;
	margin-top: 0.8rem;
}
.answer-check-box > .check-box-text {
	font-size: 1.5rem;
	padding: 16px 0 0 0;
}
.check-box {
	width: 100%;
	height: 22rem;
	margin-top: 0.8rem;
	padding: 0rem 7rem 0 7rem;
	display: flex;
}
.check-box p {
	font-size: 1.5rem;
}
