<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/ress.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="active" href="/home">HOME</a></li>
                <li><a href="/create-user">CREATE</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="/">LANDING PAGE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>List user</h1>
        <%= users %>
        <table id="customers">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Germany</td>
            </tr>
    </main>
</body>
</html>