<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quiz</title>
		<link rel="stylesheet" href="/css/ress.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<button class="start-btn">START</button>
		<div class="countdown-time">
			<h2 class="title">Start in</h2>
			<p class="timer">1</p>
		</div>
		<div class="quiz-container">
			<div class="quiz-header">
				<h2 class="status">問数1/30</h2>
				<p class="timer">00:00</p>
			</div>
			<div class="quiz-content">
				<div class="question-box">
					<h2 class="q-number">q1</h2>
					<p class="question">abccsw</p>
				</div>
				<div class="answer-box">
					<button class="answer">答え1</button>
					<button class="answer">答え2</button>
					<button class="answer">答え3</button>
					<button class="answer">答え4</button>
				</div>
			</div>
		</div>
		<div class="clear-noti-box">
			<h2 class="clear-noti">クリアおめでとう！</h2>
			<p class="clear-quest">正し答え：0</p>
			<p class="clear-time">クリアタイム：00:00</p>
		</div>
		<script src="/js/script.js"></script>
	</body>
</html>
